@import url("../css/font-awesome.css");

body {
	background-color: rgb(63,70,88);
	font-family: Roboto;
}

.form-control {
	font-size: 12px;
}

a, 
a:focus, 
a:hover, 
a:visited, 
a:active,
a:link {
	text-decoration: none;
	color: rgb(50,156,208);
}

#base {
	background-color: #EEE;
	border-radius: 6px;
	box-shadow: 0 0 20px 5px rgba(0,0,0,0.3);
	margin: 20px 0; 
}

.navbar {
	padding: 10px 25px;
	border-radius: 6px 6px 0 0;
	box-shadow: 0 2px 0 -1px rgba(0,0,0,0.15);
}

.navbar-toggler {
	padding: 10px 12px;
	border-radius: 6px;
	outline: none;
}

#base #slide {
	background: linear-gradient(to right, rgb(56,162,214), rgb(50,156,208));
	background-color: rgb(50,156,208);
	padding: 40px 50px 30px 50px;
	text-align: center;
	color: white;
	box-shadow: inset 0 -2px 0 -1px rgba(0,0,0,0.15);
}

#base #slide h1 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

#base #slide p {
	font-size: 12px;
}

#base #baseButtons {
	background-color: white;
	height: 50px;
	box-shadow: 0 2px 0 -1px rgba(0,0,0,0.1);
	line-height: 50px;
	font-size: 12px;
	font-weight: bold;
}

#base #baseButtons .buttonsCreate {
	margin: 0 10px 0 30px;
	padding: 0 10px 14px 10px;
	transition: all 0.2s;
	border-bottom: solid 4px white;
	color: rgb(126,134,154);
}

#base #baseButtons .buttonsCreate:focus {
	color: rgb(56,60,71);
	border-bottom: solid 4px rgb(50,156,208);	
}

#base #baseButtons .buttonsCreate:hover {
	color: rgb(56,60,71);
	border-bottom: solid 4px rgb(50,156,208);	
}

#base #baseButtons .separate {
	background-color: rgba(0,0,0,0.2);
	width: 1px;
	height: 15px;
	float: left;
	position: absolute;
	margin: -32px 167px;
}

#base #forms {
	padding: 30px 35px;
	font-size: 13px;
}

.footer {
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 100px;
}

.footer img {
	float: left;
	border-radius: 6px;
	margin-right: 10px;
	margin-bottom: 10px;
	box-shadow: 0 1px 7px 2px rgba(0,0,0,0.2);
}

form h3 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	color: rgb(50,156,208);
}

form p {
	font-size: 12px;
	color: rgba(0,0,0,0.8);
	text-align: justify;
}

form label {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

form a {
	font-weight: bold;
}

#base .bottomSpace {
	margin-bottom: 40px;
}

.dropdown-divider {
    border-top: 1px solid rgba(0,0,0,0.2);
}

.btn-outline-primary {
	font-size: 12px;
	font-weight: bold;
	padding: 7px 20px;
	margin: 5px 7px;
	color: rgb(50,156,208);
	border-color: rgb(50,156,208);
}

.btn-outline-primary:hover {
	color: white;
	background-color: rgb(50,156,208);
	border-color: rgb(50,156,208);
}

.btn-outline-primary:focus {
	background-color: rgb(50,156,208);
	box-shadow: 0 0 0 0.2rem rgba(50,156,208,.5);
	border-color: rgb(50,156,208);
	color: white;
}

.btn-outline-primary:not([disabled]):not(.disabled):active {
    color: #fff;
    background-color: rgb(50,156,208);
    border-color: rgb(50,156,208);
    box-shadow: 0 0 0 0.2rem rgba(50,156,208,.5);
}

.navbar-toggler {
	margin-right: -12px;
}

.btn-primary {
    background-color: rgb(50,156,208);
    border: 1px solid rgb(40,125,166);
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.btn-primary:hover {
	background-color: rgb(40,125,166);
	border: 1px solid rgb(40,125,166);
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	color: #fff;
    background-color: rgb(40,125,166);
    border-color: rgb(40,125,166);
    box-shadow: 0 0 0 0.2rem rgba(50,156,208,.5);
}

#base .baseFile {
	display: block;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    position: relative;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    cursor: pointer;
}

#base .baseFile input {
	width: 100%;
	height: 40px;
	position: absolute;
	font-size: 12px;
	opacity: 0;
	cursor: pointer;
}

#base .baseFile .buttonFile {
	background-color: rgb(50,156,208);
	width: 100px;
	padding: 10px 20px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	box-shadow: 0 0 0 1px rgb(40,125,166);
	border-radius: 3px 0 0 3px;
	float: left;
	cursor: pointer;
}

#base .baseFile span {
	width: calc(100% - 140px);
	float: left;
	margin: 0 20px;
	line-height: 38px;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.progress {
	background-color: white;
	margin: 10px 0;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15);
	border-radius: 3px;
}

.progress-bar {
	background-color: rgb(50,156,208);
	box-shadow: inset 0 0 0 1px rgb(40,125,166);
}

@media (max-width:991px) {
	.btn-outline-primary {
		width: 100%;
		margin: 5px 0;
	}

	.navbar-collapse {
		margin-top: 20px;
		padding-bottom: 10px;
	}

	.groups {
		width: 100%;
	}
}
